# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\shinj\OneDrive\Desktop\Shinjitha's Desktop\Shinjitha's Desktop\CS ArtificialIntelligence\p0-starter (3).tar\p0-starter (3)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
